### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
# count unique screen names "SN" to determine player count
total_pull = purchase_data["SN"].nunique()

# define criteria for the table
total_count = [{"Total Players": total_pull}]

# make and display a df with the results
df_totcount = pd.DataFrame(total_count)

# show result
df_totcount

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
# count the total # of purchases
count_data = purchase_data["Purchase ID"].count()

# count the number of unique items
unique_count = purchase_data["Item ID"].nunique()

# determine the average price of purchases
price_mean = purchase_data["Price"].mean()

# determine the total revenue of purchases
price_total = purchase_data["Price"].sum()

# create a dictionary of the results
basic_calc = [{"Number of Unique Items": unique_count,
               "Average Price": price_mean,
               "Number of Purchases": count_data,
               "Total Revenue": price_total}]

# create a df out of the dictionary
df_basiccalc = pd.DataFrame(basic_calc)

# arrange columns to desired order
df_basiccalc = df_basiccalc[['Number of Unique Items', 'Average Price', 'Number of Purchases', 'Total Revenue']]

# format the money columns
df_basiccalc["Average Price"] = df_basiccalc["Average Price"].map("${:,.2f}".format)

df_basiccalc["Total Revenue"] = df_basiccalc["Total Revenue"].map("${:,.2f}".format)

# show result
df_basiccalc

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
# group by gender and then screen name to identify unique males, females, & other/non-disclosed
groupedby_purchase_data = purchase_data.groupby('Gender')['SN'].nunique()

# assign groupby to a df
gb_purchase_data_df = pd.DataFrame(groupedby_purchase_data)

# rename "SN" column
renamed_gb_purchase_data_df = gb_purchase_data_df.rename(columns={"SN":"Total Count"})

# get the total number of unique players
gb_total = groupedby_purchase_data.sum()

# find the % of unique males, females, and other/non-disclosed
gb_gender_perc = (groupedby_purchase_data / gb_total) * 100

#round the percentage to 2 decimal places
gender_percent = gb_gender_perc.round(2)

# create a df out of the percentages
gender_percent_df = pd.DataFrame(gender_percent)

# rename the percentage column
renamed_gender_percent_df = gender_percent_df.rename(columns={"SN":"Percentage of Players"})

# merge the purchase data and percent df into one
gender_demo_df = pd.merge(renamed_gb_purchase_data_df, renamed_gender_percent_df, on='Gender')

# change the order of the index
gender_demo_df = gender_demo_df.reindex(index = ['Male','Female','Other / Non-Disclosed'])

#remove the index label
gender_demo_df.index.name = None

# show result
gender_demo_df

                       Total Count  Percentage of Players
Male                           484                  84.03
Female                          81                  14.06
Other / Non-Disclosed           11                   1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
# group by gender and then item id in order to identify items purchased by gender
groupedby_purchase_count = purchase_data.groupby('Gender')['Item ID']

# count the total number of purchases made by males, females, and other/non-disclosed
pur_count = groupedby_purchase_count.count()

# create a df with the purchase count info.
pur_count_df = pd.DataFrame(pur_count)

# rename the column of purchase count df
renamed_pur_count_df = pur_count_df.rename(columns={"Item ID":"Purchase Count"})

#group by gender and price in order to identify the average spend of males, females, and other/non-disclosed
avg_pur_price = purchase_data.groupby('Gender')["Price"]

# get the average for each gender and round to two decimal places
avg_pur_price_1 = avg_pur_price.mean().round(2)

#create a df frame with the average purchase price data
avg_pur_price_df = pd.DataFrame(avg_pur_price_1)

# rename the column of the average purchase price df
renamed_avg_pur_price_df = avg_pur_price_df.rename(columns={"Price":"Average Purchase Price"})

# get the purchase price for each gender and round to two decimal places
total_purch = avg_pur_price.sum().round(2)

#create a df with the total price data
total_purch_df = pd.DataFrame(total_purch)

# rename the column of the total price data
renamed_total_purch_df = total_purch_df.rename(columns={"Price":"Total Purchase Value"})

# add up the total price for males
male_avg_gb = purchase_data[purchase_data.Gender == 'Male'].groupby(['SN']).sum()

# find the average price for males
male_avg = male_avg_gb.Price.mean()

# add up the total price for females
female_avg_gb = purchase_data[purchase_data.Gender == 'Female'].groupby(['SN']).sum()

# find the average price for femmales
female_avg = female_avg_gb.Price.mean()

# add up the total price for other/non-disclosed
nondisc_avg_gb = purchase_data[purchase_data.Gender == 'Other / Non-Disclosed'].groupby(['SN']).sum()

# find the average price for other/non-disclosed
nondisc_avg = nondisc_avg_gb.Price.mean()

#create a dictionary of the average purchase price by gender
avg_person_purc = [{"Gender": "Female", "Avg Total Purchase per Person": female_avg},
                   {"Gender": "Male", "Avg Total Purchase per Person": male_avg},
                   {"Gender": "Other / Non-Disclosed", "Avg Total Purchase per Person": nondisc_avg}]

# create a df out of the average purchase price by gender dict
df_avg_per_pur = pd.DataFrame(avg_person_purc)

# reorder the columns of the average purchase price df
df_avg_per_pur_reorder = df_avg_per_pur[['Gender', 'Avg Total Purchase per Person']]

# set gender as the index on the average purchase price by gender df
final_avg_pur_per_person = df_avg_per_pur_reorder.set_index('Gender')

# merge the purchase count and average purchase price dfs
pur_analysis_gender_1stmerge = pd.merge(renamed_pur_count_df, renamed_avg_pur_price_df, on='Gender')

# merge the total purchase and average purchase price by gender dfs
pur_analysis_gender_2ndmerge = pd.merge(renamed_total_purch_df, final_avg_pur_per_person, on='Gender')

# merge the two merged
pur_analysis_gender_finalmerge = pd.merge(pur_analysis_gender_1stmerge, pur_analysis_gender_2ndmerge, on='Gender')

# format columns with money
pur_analysis_gender_finalmerge["Average Purchase Price"] = pur_analysis_gender_finalmerge["Average Purchase Price"].map("${:,.2f}".format)

pur_analysis_gender_finalmerge["Total Purchase Value"] = pur_analysis_gender_finalmerge["Total Purchase Value"].map("${:,.2f}".format)

pur_analysis_gender_finalmerge["Avg Total Purchase per Person"] = pur_analysis_gender_finalmerge["Avg Total Purchase per Person"].map("${:,.2f}".format)

#show result
pur_analysis_gender_finalmerge

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
# create age bins
bins = [5, 9, 14, 19, 24, 29, 34, 39, 45]

# assign names to the age groups
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# cut the data into the age bins by "Age" and label with group names
purchase_data["Age Bins"] = pd.cut(purchase_data["Age"], bins, labels=group_names)

# group by age bins
purchase_data_agebin = purchase_data.groupby("Age Bins")

#determine the unique players ("SN") that fall into each age group
agebin2 = purchase_data_agebin.SN.nunique()

# create a df with the unique players in each age bin
agebin_df = pd.DataFrame(agebin2)

#rename the column
renamed_agebin_df = agebin_df.rename(columns={"SN":"Total Count"})

# determine the precent in each age bin using "total_pull" from the "Player Count" section
age_bin_percent = ((agebin_df / total_pull) * 100).round(2)

# create a df with the percentage data
agebin_perc_df = pd.DataFrame(age_bin_percent)

# rename the column
renamed_agebin_perc_df = agebin_perc_df.rename(columns={"SN":"Percentage of Players"})

# merge the total count and percentage df
agebin_merge = pd.merge(renamed_agebin_df, renamed_agebin_perc_df, on='Age Bins')

# remove the index name
agebin_merge.index.name = None

#show result
agebin_merge

       Total Count  Percentage of Players
<10             17                   2.95
10-14           22                   3.82
15-19          107                  18.58
20-24          258                  44.79
25-29           77                  13.37
30-34           52                   9.03
35-39           31                   5.38
40+             12                   2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
# create age bins
bins = [5, 9, 14, 19, 24, 29, 34, 39, 45]

# assign names to the bins
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# rename "Age Bins column to "Age_Bins" for better use below
renamed_age_bin_column = purchase_data.rename(columns={"Age Bins":"Age_Bins"})

# cut the data into the age bins by "Age" and label with group names
purchase_data["Age_Bins"] = pd.cut(purchase_data["Age"], bins, labels=group_names)

# group by age bins and item id
gb_purch_cnt_age = purchase_data.groupby('Age_Bins')['Item ID']

# count the number of purchases in each age bin
pur_count_age = gb_purch_cnt_age.count()

# create a df with the # of purchases in each age bin
pur_count_df_age = pd.DataFrame(pur_count_age)

# rename the column
renamed_pur_count_df_age = pur_count_df_age.rename(columns={"Item ID":"Purchase Count"})

# group by age bins and price
avg_pur_price_age = purchase_data.groupby('Age_Bins')["Price"]

# determine the average purchase price in each age bin
avg_pur_price_age_1 = avg_pur_price_age.mean().round(2)

#create a df out of the average purchase price in each age bin
avg_pur_price_df_age = pd.DataFrame(avg_pur_price_age_1)

# rename the column
renamed_avg_pur_price_df_age = avg_pur_price_df_age.rename(columns={"Price":"Average Purchase Price"})

# determine the total revenue per age bin and round to 2 decimal places
total_purch_age = avg_pur_price_age.sum().round(2)

# create a df out of the total revenue per age bin
total_purch_df_age = pd.DataFrame(total_purch_age)

#rename the column
renamed_total_purch_df_age = total_purch_df_age.rename(columns={"Price":"Total Purchase Value"})

# determine the number of unique players in the <10 age bin and get the average price
lessthanten_avg_gb = purchase_data[purchase_data.Age_Bins == '<10'].groupby(["SN"]).sum()
lessthanten_avg_age = lessthanten_avg_gb.Price.mean()

# determine the number of unique players in the 10-14 age bin and get the average price
tentofourteen_avg_gb = purchase_data[purchase_data.Age_Bins == '10-14'].groupby(["SN"]).sum()
tentofourteen_avg_age = tentofourteen_avg_gb.Price.mean()

# determine the number of unique players in the 15-19 age bin and get the average price
fifteentonineteen_avg_gb = purchase_data[purchase_data.Age_Bins == '15-19'].groupby(["SN"]).sum()
fifteentonineteen_avg_age = fifteentonineteen_avg_gb.Price.mean()

# determine the number of unique players in the 20-24 age bin and get the average price
twentytotwentyfour_avg_gb = purchase_data[purchase_data.Age_Bins == '20-24'].groupby(["SN"]).sum()
twentytotwentyfour_avg_age = twentytotwentyfour_avg_gb.Price.mean()

# determine the number of unique players in the 25-29 age bin and get the average price
twentyfivetotwentynine_avg_gb = purchase_data[purchase_data.Age_Bins == '25-29'].groupby(["SN"]).sum()
twentyfivetotwentynine_avg_age = twentyfivetotwentynine_avg_gb.Price.mean()

# determine the number of unique players in the 30-34 age bin and get the average price
thirtytothirtyfour_avg_gb = purchase_data[purchase_data.Age_Bins == '30-34'].groupby(["SN"]).sum()
thirtytothirtyfour_avg_age = thirtytothirtyfour_avg_gb.Price.mean()

# determine the number of unique players in the 35-39 age bin and get the average price
thirtyfivetothirtynine_avg_gb = purchase_data[purchase_data.Age_Bins == '35-39'].groupby(["SN"]).sum()
thirtyfivetothirtynine_avg_age = thirtyfivetothirtynine_avg_gb.Price.mean()

# determine the number of unique players in the 40+ age bin and get the average price
fourtyplus_avg_gb = purchase_data[purchase_data.Age_Bins == '40+'].groupby(["SN"]).sum()
fourtyplus_avg_age = fourtyplus_avg_gb.Price.mean()

# create a dict of the average total purchase per person per age bin data
avg_person_purc_age = [{"Age_Bins": "<10", "Avg Total Purchase per Person": lessthanten_avg_age},
                       {"Age_Bins": "10-14", "Avg Total Purchase per Person": tentofourteen_avg_age},
                       {"Age_Bins": "15-19", "Avg Total Purchase per Person": fifteentonineteen_avg_age},
                       {"Age_Bins": "20-24", "Avg Total Purchase per Person": twentytotwentyfour_avg_age},
                       {"Age_Bins": "25-29", "Avg Total Purchase per Person": twentyfivetotwentynine_avg_age},
                       {"Age_Bins": "30-34", "Avg Total Purchase per Person": thirtytothirtyfour_avg_age},
                       {"Age_Bins": "35-39", "Avg Total Purchase per Person": thirtyfivetothirtynine_avg_age},
                       {"Age_Bins": "40+", "Avg Total Purchase per Person": fourtyplus_avg_age}]

#create a df ofh the average total purchase per person per age bin dict
df_avg_per_pur_age = pd.DataFrame(avg_person_purc_age)

#set the index
final_avg_pur_per_person_age = df_avg_per_pur_age.set_index('Age_Bins')

# merge the purchase count and average purchase price dfs
pur_analysis_age_1stmerge = pd.merge(renamed_pur_count_df_age, renamed_avg_pur_price_df_age, on='Age_Bins')

# merge the total purchase and average purchase per person dfs
pur_analysis_age_2ndmerge = pd.merge(renamed_total_purch_df_age, final_avg_pur_per_person_age, on='Age_Bins')

# merge the two merged
pur_analysis_age_finalmerge = pd.merge(pur_analysis_age_1stmerge, pur_analysis_age_2ndmerge, on='Age_Bins')

# format the money columns
pur_analysis_age_finalmerge["Average Purchase Price"] = pur_analysis_age_finalmerge["Average Purchase Price"].map("${:,.2f}".format)

pur_analysis_age_finalmerge["Total Purchase Value"] = pur_analysis_age_finalmerge["Total Purchase Value"].map("${:,.2f}".format)

pur_analysis_age_finalmerge["Avg Total Purchase per Person"] = pur_analysis_age_finalmerge["Avg Total Purchase per Person"].map("${:,.2f}".format)

# remove the index name
pur_analysis_age_finalmerge.index.name = None

# reorder the index to match the starter output (<10 at the bottom) =P
pur_analysis_age_finalmerge = pur_analysis_age_finalmerge.reindex(index = ['10-14','15-19','20-24','25-29','30-34','35-39','40+', '<10'])

# show result
pur_analysis_age_finalmerge

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19
<10,23,$3.35,$77.13,$4.54

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [8]:
# group by SN to get unique player
gb_top_spend = purchase_data.groupby('SN')

# get count of purchases by unique players
top_spend_count = gb_top_spend.count()

# select only the "Purchase ID" column
spend_pur_count = top_spend_count[['Purchase ID']]

# rename the column
spend_pur_count_rename = spend_pur_count.rename(columns={"Purchase ID": "Purchase Count"})

# get the average revenue per player
top_spend_count = gb_top_spend.mean()

# select only the "Price" column
spend_avg_price_count = top_spend_count[['Price']]

# rename the price column
spend_avg_price_rename = spend_avg_price_count.rename(columns={"Price": "Average Purchase Price"})

# get the total revenue per player
top_spend_count = gb_top_spend.sum()

# select only the "Price" column
spend_tot_price_count = top_spend_count[['Price']]

# rename the column
spend_tot_price_rename = spend_tot_price_count.rename(columns={"Price": "Total Purchase Value"})

# merge the Purchase Count and Average Purchase Price dfs
top_spend_1stmerge = pd.merge(spend_pur_count_rename, spend_avg_price_rename, on='SN')

# merge the previous with the Total Purchase Value column
top_spend_finalmerge = pd.merge(top_spend_1stmerge, spend_tot_price_rename, on='SN')

# sort the Total Purchase Value from greatest to least
tot_pur_value_sort_df = top_spend_finalmerge.sort_values("Total Purchase Value", ascending=False)

# format the money columns
tot_pur_value_sort_df["Average Purchase Price"] = tot_pur_value_sort_df["Average Purchase Price"].map("${:,.2f}".format)

tot_pur_value_sort_df["Total Purchase Value"] = tot_pur_value_sort_df["Total Purchase Value"].map("${:,.2f}".format)

# show result
tot_pur_value_sort_df.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
# group by item id and item name
popular_gb = purchase_data.groupby(['Item ID', 'Item Name'])

#count the total items
pop_purchase_count = popular_gb.count()

# select the Purchase ID column
pop_pur_count = pop_purchase_count[['Purchase ID']]

# rename the column
pop_pur_count_rename = pop_pur_count.rename(columns={"Purchase ID": "Purchase Count"})

# set the index to both Item ID and Item Name
popular_price = purchase_data.set_index(['Item ID', 'Item Name'])

# select the Price column
pop_price_show = popular_price[['Price']]

# rename the Price column
pop_price_show_rename = pop_price_show.rename(columns={"Price": "Item Price"})

# group by Item ID and Item Name
popular_gb2 = purchase_data.groupby(['Item ID', 'Item Name'])

# get the total revenue of each item
pop_purchase_sum = popular_gb2.sum()

# select the Price column
pop_price_sum = pop_purchase_sum[['Price']]

# rename the price column
pop_price_sum_rename = pop_price_sum.rename(columns={"Price": "Total Purchase Value"})

# merge the Purchase Count and Item Price dfs
pop_1stmerge = pd.merge(pop_pur_count_rename, pop_price_show_rename, left_index=True, right_index=True)

# merge previous with the Total Purchase Value df
pop_finalmerge = pd.merge(pop_1stmerge, pop_price_sum_rename, left_index=True, right_index=True)

# reset the index (because it wasn't working)
pop_finalmerge_ind_set = pop_finalmerge.reset_index()

# remove the duplicate values
pop_almost_done = pop_finalmerge_ind_set.drop_duplicates(subset=None, keep='first', inplace=False)

# set the index again to Item ID and Item Name
pop_almost_done_index = pop_almost_done.set_index(['Item ID', 'Item Name'])

# sort Purchase Count from greatest to least
pop_sort = pop_almost_done_index.sort_values("Purchase Count", ascending=False)

# format the money columns
pop_sort["Item Price"] = pop_sort["Item Price"].map("${:,.2f}".format)

pop_sort["Total Purchase Value"] = pop_sort["Total Purchase Value"].map("${:,.2f}".format)

# show result
pop_sort.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [10]:
# sort the Total Purchase Value column from greatest to least
pop_sort2 = pop_almost_done_index.sort_values("Total Purchase Value", ascending=False)

# format the money columns
pop_sort2["Item Price"] = pop_sort2["Item Price"].map("${:,.2f}".format)

pop_sort2["Total Purchase Value"] = pop_sort2["Total Purchase Value"].map("${:,.2f}".format)

# show result
pop_sort2.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80